@import '@/color.scss';
.panel-title {
  position: relative;
  margin-top: 1.06667rem;
  padding-left: 1.06667rem;
  color: #6a6a77;
  font-size: 0.9267rem;
  font-weight: 700;
  line-height: 1.5;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0.512rem;
    top: 50%;
    margin-top: -0.52667rem;
    width: 4px;
    height: 1.05333rem;
    background-color: $color-brand;
    box-shadow: 0 0.14933rem 0.256rem 0 rgb(97 144 232 / 20%);
    border-radius: 1PX;
  }
}
