.page-wrapper {
  width: 100%;
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300rpx;
    .empty-img {
      width: 150rpx;
      height: 150rpx;
    }
    .text {
      font-size: 28rpx;
      color: #8a8a8a;
      margin-top: 20rpx;
    }
  }
}
